* {
  font-weight: bold;
  text-align: center;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 20% auto;
}

.counter {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px solid #62daef;
  border-radius: 10px;
  background-color: #061D3BF9;
}

.display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 420px;
  height: 150px;
  border: none;
  border-radius: 10px;
  background-color: #62daef;
  color: #061D3BF9;

}

.value {
  font-size: 90px;
}
.error {
  font-size: 40px;
}
.instructions {
  font-size: 30px;
}

.red {
  color: red;
}

.input {
  position: absolute;
  right: 10px;
  outline:none;
  width: 200px;
  height: 35px;
}
.borderRed {
  outline:none;
  border: 3px solid red;
  border-radius: 5px;
}

.text {
  margin-left: 10px;
  font-size: 30px;
  text-align: left;
}

.buttons {
  width: 380px;
  display: flex;
  justify-content: center;
  gap: 35px;
  border: 2px solid #62daef;
  border-radius: 10px;
  padding: 20px;
}

.btn {
  width: 120px;
  background-color: #62daef;
  color: #061D3BF9;
  border: none;
  border-radius: 5px;
  padding: 3px;
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

